@import url('http://cdn.css.net/fonts/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&amp;subset=latin%2Clatin-ext&amp;ver=3.8');

::selection {
    background:lightgrey
}
* {		
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, "Microsoft Jhenghei", "Hiragino Sans GB", SimHei, STHeiti, sans-serif;
	line-height: 1.5;
    font-size: 14px;
    color: #333;
    position: relative;
    width: 100%;
    height: calc(100vh);
    background-color: #FFF;
    text-rendering: optimizeLegibility
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
	margin-top: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, "Microsoft Jhenghei", "Hiragino Sans GB", SimHei, STHeiti, sans-serif;
	}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #08c;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
a:hover,
a:active {
    outline: 0;
    color: #2B2F3D;
    text-decoration: none;
}
hr.line {
	border: 0 none;
	height: 1px;
	background-color: #E5E5E5;
	margin: 40px 0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    *zoom: 1;
}
.hidden {
	display: none;
	visibility: hidden;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
section .container {
	padding-top: 100px;
	padding-bottom: 100px;
}
section:nth-child(even) {
	background-color: #F8F8F8;
}

/* Header Start
==============================================================*/
header {
	background-color: #1E2225;
}
header .navbar-inverse {
	border: 0 none;
	padding: 30px 0;
	margin-bottom: 0;
	background-color: transparent;
}
header .navbar-inverse .navbar-brand {
	color: #DDD;
	font-size: 28px;
	font-weight: 500;
	padding: 15px 0;
}
header .navbar-inverse .navbar-brand i {
	color: #33B48B;
	font-style: normal;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	padding-top: 5px;
}
header .navbar-inverse .navbar-nav>li {
	margin-right: 5px;
}

header .navbar-inverse .navbar-nav>li:last-child {
	margin-right: 0;
}

header .navbar-inverse .navbar-nav>li>a {
	color: #AAA;
	padding: 10px 20px;
	text-transform: uppercase;
}
header .navbar-inverse .navbar-nav>li>a:focus,
header .navbar-inverse .navbar-nav>li>a:hover,
header .navbar-inverse .navbar-nav>.active>a:focus,
header .navbar-inverse .navbar-nav>.active>a:hover,
header .navbar-inverse .navbar-nav>.open>a,
header .navbar-inverse .navbar-nav>.open>a:focus,
header .navbar-inverse .navbar-nav>.open>a:hover {
	border-radius: 4px;
	background-color: #33B48B;
}
header .navbar-inverse .navbar-nav>.active>a {
	font-weight: bold;
	background-color: transparent;
}

/* Slider Start
==============================================================*/
#map {
	position: relative;
	background-color: #1D1D1D;
}
#map .dimmer {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
	position: absolute;
	background-color: rgba(26,26,26,.25);
}

#map .leaflet-control-attribution.leaflet-control {
	display: none;
}
#map .container {
	padding-top: 180px;
	padding-bottom: 180px;
	position: relative;
	z-index: 2;
	width: 100%;
	text-align: center;
}
#map .container h2 {
	color: #CCC;
	font-size: 3rem;
	line-height: 1.4;
	margin-bottom: 20px;
}
#map .container p {
	color: #33B48B;
	font-size: 16px;
	margin-bottom: 50px;
}
#map .container .btn {
	color: #FFF;
	border-radius: 0;
	padding: 10px 40px;
	text-transform: uppercase;
}
#map .container .btn.green {
	border-radius: 4px 0 0 4px;
	background-color: #33B48B;
}
#map .container .btn.green:hover {
	background-color: #212528
}
#map .container .btn.about {
	border-radius: 0 4px 4px 0;
	background-color: #212528
}
#map .container .btn.about:hover {
	background-color: #33B48B;
}


/* Plans Start
==============================================================*/
.plans .row > div .plan {
	border-radius: 4px;
	box-shadow: 0 0px 1px rgba(0,0,0,.7);
}

.plans .row > div .plan .info {
	text-align: center;
}
.plans .row > div .plan .info .fa {
	color: #32B38A;
	font-size: 5rem;
	padding: 15px 0;
}
.plans .row > div .plan .info h3 {
	color: #737C83;
	font-size: 20px;
	background-color: #F1F1F1;
	padding: 15px 0 5px;
	margin-bottom: 0;
}
.plans .row > div .plan .info h4 {
	color: #83BCAB;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #F1F1F1;
	padding: 5px 0 15px;
}
.plans .row > div .plan .info ul {
	margin: 0;
	padding: 0 0 15px;
	list-style: none;
}
.plans .row > div .plan .info ul li {
	color: #9BA0A6;
	line-height: 30px;
}
.plans .row > div .plan .choose {
	padding: 20px 15px;
	border-radius: 0 0 4px 4px;
	background-color: #212528;
}
.plans .row > div .plan .choose:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.plans .row > div .plan .choose .pric {
	color: #32B38A;
	font-size: 22px;
}
.plans .row > div .plan .choose .pric span {
	color: #DDD;
	font-size: 12px;
	margin-left: 5px;
}
.plans .row > div .plan .choose .btn.green {
	color: #FFF;
	float: right;
	cursor: pointer;
	background-color: #32B38A;
}

/* Supported Start
==============================================================*/
.supported {
	background-color: #F8F8F8;
}
.supported .container {
	padding-top: 50px;
	padding-bottom: 50px;
}
.supported .logo {
	opacity: .55;
	text-indent: -999em;
	width: 130px;
	height: 40px;
	display: block;
	background-size: 100%;
	margin: 0 auto;
	-webkit-filter: grayscale(1);/* Webkit */ 
	filter:gray;/* IE6-9 */ 
	filter: grayscale(1);/* W3C */ 
}
.supported .logo:hover {
	opacity: 1;
	-webkit-filter: grayscale(0);/* Webkit */ 
	filter: none;/* IE6-9 */ 
	filter: grayscale(0);/* W3C */ 
}
.ubuntu {
	background: url(images/ubuntu.png) no-repeat;
}
.centos {
	background: url(images/centos.png) no-repeat;
}
.debian {
	background: url(images/debian.png) no-repeat;
}
.opensuse {
	background: url(images/opensuse.png) no-repeat;
}

/* Features Start
==============================================================*/
section[class*=features-] .container {
	padding-top: 70px;
	padding-bottom: 70px;
}
section[class*=features-]:nth-child(even) .info {
	padding-left: 100px;
}

section[class*=features-] .info {
	padding-right: 100px;
}
section[class*=features-] .info h2 {
	color: #59595B;
	font-size: 28px;
	line-height: 1.5;
	margin-bottom: 20px;
}
section[class*=features-] .info p {
	color: #AAA;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 30px;
}
section[class*=features-] .info .btn.more {
	color: #32B38A;
	padding: 12px 24px;
	text-transform: uppercase;
	border: 2px solid #32B38A;
}
section[class*=features-] .info .btn.more:hover {
	color: #FFF;
	background-color: #32B38A;
}
section[class*=features-] .image img {
	max-width: 90%
}

.tos .list-unstyled {
	margin-left: 2rem;
}
.tos .list-unstyled li {
	line-height: 30px;
}
.features-FAQ .row>div>.fa {
	font-size: 3em;
	margin-bottom: 10px;
}
.features-FAQ .row>div:nth-child(1)>.fa {
	color: #27B4E7;
}
.features-FAQ .row>div:nth-child(2)>.fa {
	color: #F16421;
}
.features-FAQ .row>div:nth-child(3)>.fa {
	color: #15AFBE;
}
.features-FAQ .row>div:nth-child(4)>.fa {
	color: #99CC00;
}
.features-FAQ h3 {
	color: #59595B;
	line-height: 1.5;
}
.features-FAQ .list-inline>li {

}

.Qa {
	color: #FFF;
	background-color: #212528;
}
.Qa .row div:last-child {
	text-align: center;
	padding-top: 15px;
}
.Qa .row div a:last-child {
	margin-left: 30px;
}
.Qa .btn {
	border-radius: 5px;
	border-width: 2px;
	padding: 10px 30px;
}
.Qa .btn.faq {
	color: #1AAFE5;
	border-color: #1AAFE5;
}
.Qa .btn.faq:hover {
	color: #FFF;
	background-color: #1AAFE5;
}
.Qa .btn.ticket {
	color: #3BC6C7;
	border-color: #3BC6C7;
}
.Qa .btn.ticket:hover {
	color: #FFF;
	background-color: #3BC6C7;
}
.speedtest h2,
.speedtest p {
	text-align: center;
}
.speedtest p {
	margin-bottom: 50px;
}
.speedtest .table-striped>tbody>tr:nth-of-type(even) {
  background-color: #f2f2f2;
}
.speedtest .table tr th.local {
	width: 30%;
}
.speedtest .table tr th.speed {
	width: 120px;
}
.speedtest .table tr th.file {
	width: 120px;
}
.speedtest .table th,
.speedtest .table td {
	line-height: 40px;
	padding: 5px 15px;
}
.speedtest .table tr td:first-child {
	padding-left: 50px;
}
.speedtest .table tr td.us {
	background: url(images/US.png) no-repeat 15px center;
}
.speedtest .table tr td.cn {
	background: url(images/CN.png) no-repeat 15px center;
}
.speedtest .table tr td.jp {
	background: url(images/JP.png) no-repeat 15px center;
}
.speedtest .table tr td.fr {
	background: url(images/FR.png) no-repeat 15px center;
}
.speedtest .table tr td.de {
	background: url(images/DE.png) no-repeat 15px center;
}
.speedtest .table tr td.nl {
	background: url(images/NL.png) no-repeat 15px center;
}
.speedtest .table tr td.sg {
	background: url(images/SG.png) no-repeat 15px center;
}
.speedtest .table tr td.gb {
	background: url(images/GB.png) no-repeat 15px center;
}
.speedtest .table tr th:nth-child(3),
.speedtest .table tr td:nth-child(3),
.speedtest .table tr th:nth-child(4),
.speedtest .table tr td:nth-child(4) {
	text-align: center;
}
.speedtest .fa {
	color: #AAA;
	cursor: pointer;
	font-size: 1.5em;
	vertical-align: middle;
	margin: 0 5px;
}
.speedtest .fa.green {
	color: #1D9E74;
}
.speedtest .fa.org {
	color: #F0AD4E;
}
.speedtest .on {
	background-color: #DDD !important;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
@keyframes loader {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
@-moz-keyframes loader {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
@-webkit-keyframes loader {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
@-o-keyframes loader {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

/* Footer Start
==============================================================*/
footer {
	background-color: #F3F3F3;
}
footer:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
footer .container {
	padding-top: 30px;
	padding-bottom: 30px;
}
footer .copy {
	color: #999;
	float: left;
	margin-bottom: 0;
}
footer .copy a {
	color: #333;
	font-weight: 600;
}
footer span {
	color: #ccc;
	margin: 0 10px;
}
footer .nav a {
	color: #888;
}
footer .nav a:hover {
	color: #333;
}
footer .navbar-right {
	margin-top: 0;
}

@media (min-width: 768px) {
	.plans .col-sm-6:nth-child(1),
	.plans .col-sm-6:nth-child(2) {
	  margin-bottom: 30px;
	}
	.supported .col-sm-4:nth-child(1),
	.supported .col-sm-4:nth-child(2),
	.supported .col-sm-4:nth-child(3) {
	  margin-bottom: 30px;
	}
	section[class*=features-] .info {
		padding-right: 25px;
	}
	section[class*=features-] .image img {
		max-width: 100%;
	}
	section[class*=features-]:nth-child(even) .info {
		padding-left: 25px;
	}
	.features-FAQ .row > div {
		min-height: 180px;
	}
	footer .navbar-right {
		float: none !important;
		margin-top: 10px;
	}
}
@media (min-width: 992px) {
	footer .navbar-right {
		float: right !important;
		margin-top: 0;
	}
}
@media (max-width: 768px) {
	section .container {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	section[class*=features-] .info h2 {
		font-size: 2rem;
	}
	#map .container {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	#map .container .btn {
		border-radius: 0 !important;
		padding: 10px 20px;
	}
	.plans .col-sm-6:nth-child(1),
	.plans .col-sm-6:nth-child(2),
	.plans .col-sm-6:nth-child(3) {
	  margin-bottom: 30px;
	}
	.supported .col-sm-4 {
		width: 50%;
		float: left;
	}
	.supported .col-sm-4:nth-child(1),
	.supported .col-sm-4:nth-child(2),
	.supported .col-sm-4:nth-child(3),
	.supported .col-sm-4:nth-child(4) {
	  margin-bottom: 30px;
	}
	.features-FAQ .row > div {
		margin-bottom: 30px;
	}
	section[class*=features-] .info {
		text-align: center;
		padding-right: 15px;
		margin-bottom: 50px;
	}
	section[class*=features-] .image {
		text-align: center;
	}
	section[class*=features-] .image img {
		max-width: 50%;
	}
	section[class*=features-]:nth-child(even) .info {
		padding-left: 15px;
	}
	footer span {
		margin: 0 5px;
	}
	footer .navbar-right {
		display: none;
	}
	
}
